<!--Including head/navbar templates from partials folder-->
<%- include('../partials/head') %> 
<%- include('../partials/navbar') %> 

<!--Discover page header-->
<section class="container-fluid header-section-discover header-text responsive">
  <div class="container-fluid text-center">
     <h1 class="mb-5 py-5" style="color: white;font-size: 9vw;">DISCOVER</h1>
  </div>
</section>

<section class="pb-5 choose-style-section">
   <div class="container-fluid text-center px-0 py-5">
     <div class="container-fluid px-5">
        <h1 class="bounceIn py-5 text-center" style="font-size: 60px;">Let's get creative!</h1>
        <h2>Choose your style<span id="gradientTextTwo" style="font-size: 45px;">．</span></h2>
     </div>
  </div>
  <div class="row py-5 mb-5">
     <div class="col">
       <h3 class="text-center" style="color: black;" id="">Personal</h3>
        <a class="box container-fluid packages-box" id="discoverBoxOne" href="/discover/personal">
           <div class="row text-center">
            <button href="/discover/personal" class="btn-style px-3">VIEW</button>
           </div>
        </a>
        <p class="text-center py-5 px-5" style="color:rgb(0, 0, 0);">A personal website made with custom designs for your blog, artistry, photography whatever your passion.</p>
     </div>
     <div class="col">
      <h3 class="text-center" style="color: black;">Business</h3>
      <a class="box container packages-box" id="discoverBoxThree" href="/discover/business">
        <div class="row text-center">
          <button href="/discover/business" class="btn-style px-3">VIEW</button>
        </div>
     </a>
     <p class="text-center py-5 px-5" style="color:rgb(0, 0, 0);">Grant your website the luxury of a fresh new design.</p>
     </div>
  </div>
  </div>
</div>
</section>
<section class="container-fluid d-flex justify-content-center py-5 grey-container benefits-section">
  <div class="text-center">
     <div class="container-fluid">
        <h2 class="py-5" style="font-size: 50px;">
           <span style="font-size: 60px;" id="gradientTextTwo">#6</span> benefits of having your own website<span id="gradientTextTwo" style="font-size: 85px;">．</span>
        </h2>
        <div class="container-fluid d-flex align-items-center">
           <div class="col">
              <div class="row text-center">
                 <div class="box benefits-box py-4">
                    <h4 style="color: black;"><span id="gradientTextTwo" style="font-style: italic;" >#1</span> Visibility</h4>
                    <p style="font-style: italic;">-Grow your audience</p>
                    <i id="gradientTextTwo" class="fa-solid fa-eye fa-2xl py-5"></i>
                 </div>
                 <div class="box benefits-box py-4">
                    <h4 style="color: black;"><span id="gradientTextTwo" style="font-style: italic;" >#2</span> Connections</h4>
                    <p style="font-style: italic;">-Make greater connections</p>
                    <i id="gradientTextTwo" class="fa-solid fa-link fa-2xl py-5"></i>
                 </div>
                 <div class="box benefits-box py-4">
                    <h4 style="color: black;"><span id="gradientTextTwo" style="font-style: italic;" >#3</span> Credibility</h4>
                    <p style="font-style: italic;">-Create trust, awareness and credibility</p>
                    <i id="gradientTextTwo" class="fa-solid fa-circle-check fa-2xl py-5"></i>
                 </div>
              </div>
              <div class="row align-items-center">
                 <div class="box benefits-box py-4">
                    <h4 style="color: black;"><span id="gradientTextTwo" style="font-style: italic;" >#4</span> Oppurtunities</h4>
                    <p style="font-style: italic;">-Create your own oppurtunities</p>
                    <i id="gradientTextTwo" class="fa-solid fa-trophy fa-2xl py-5"></i>
                 </div>
                 <div class="box benefits-box py-4">
                    <h4 style="color: black;"><span id="gradientTextTwo" style="font-style: italic;" >#5</span> Expression</h4>
                    <p style="font-style: italic;">-Express who you are and what you stand for</p>
                    <i id="gradientTextTwo" class="fa-solid fa-face-smile fa-2xl py-5"></i>
                 </div>
                 <div class="box benefits-box py-4">
                    <h4 style="color: rgb(0, 0, 0);"><span id="gradientTextTwo" style="font-style: italic;" >#6</span> Personal Growth</h4>
                    <p style="font-style: italic;">-Take control of your own destiny and reach your full potential</p>
                    <i id="gradientTextTwo" class="fa-solid fa-seedling fa-2xl py-5"></i>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  </div>
</section>
<section class="dark-section-round py-5">
  <div class="">
     <h1 class="text-center pb-5" style="color: white;font-size: 50px;">How it works?</h1>
     <div class="row container-fluid d-flex justify-content-center pb-5 mx-auto">
                 <div class="box how-it-works-box">
                    <h3 class="text-center py-3 my-3" style="color:white">Plan <span id="gradientTextTwo"><i class="fa-solid fa-file-lines fa-lg px-2"></i></span></h3>
                    <ul class="text-white">
                       <li>Create a roadmap</li>
                       <li>Design a schedule</li>
                       <li>Gather material</li>
                       <li>Establish your brand</li>
                       <li>Make a deadline</li>
                    </ul>
                 </div>
                 <div class="box how-it-works-box">
                    <h3 class="text-center py-3 my-3" style="color:white">Design <span id="gradientTextTwo"><i class="fa-solid fa-object-ungroup fa-lg px-2"></i></span></h3>
                    <ul class="text-white">
                       <li>Establish a theme</li>
                       <li>Choosing color palettes</li>
                       <li>Branding design</li>
                       <li>Mapping out the responsive design</li>
                    </ul>
                 </div>
                 <div class="box how-it-works-box">
                  <h3 class="text-center py-3 my-3" style="color:white">Develop <span id="gradientTextTwo"><i class="fa-solid fa-code fa-lg px-2"></i></span></h3>
                  <ul class="text-white">
                     <li>Building the framework</li>
                     <li>Implementing the code</li>
                     <li>Intergrating top level navigation tools</li>
                     <li>Administering Search Engine Optimization</li>
                     <li>Installing high level security</li>
                  </ul>
               </div>
                 <div class="box how-it-works-box">
                    <h3 class="text-center py-3 my-3" style="color:white">Launch <span id="gradientTextTwo"><i class="fa-solid fa-cloud-arrow-up fa-lg px-2"></i></span></h3>
                    <ul class="text-white">
                       <li>Review material</li>
                       <li>Testing the application</li>
                       <li>Launching the application</li>
                       <li>Continue ongoing support</li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<section class="">
  <div class="">
     <div class="container-fluid mt-4 py-5 px-5 text-center ">
        <h1 style="font-size: 60px;">
           What<span style="font-size: 60px;" id="gradientTextTwo"> really</span> matters?
        </h1>
    
          <p class="py-5">Well lets take a look at some key components when considering building a successful website. 
             Intergrating a clean, simple and responsive design is what provides great user experience along with implementing easy to navigate web pages. 
             Creating familirarity and awareness by designing a respectable brand model. Administering effective
             Search Engine Optimization to bring visibility within the search engine ecosystem thus allowing users to easily find you. Lastly making sure your website is
             intergrated with end to end encryption and proper security measures so that your data and user data is fully secure preventing any third party access.
            </p>  
      
      </div>
   </div>
</section>
<main class="grey-background py-5">
 
    <section class="container" id="projectContainer">
       <div class="row align-items-center">
          <div class="col project-content responsive order-1 order-md-1">
             <h2><span id="number">01.</span>Clean Responsive Design</h2>
             <p class="pt-2">
                Having a responsive design not only looks good but is essential for optimal user experience.
                Responsive means the adaptation of the layout whatever device the user is on. Allowing the webpage to adapt to the screen is crutial in most if not all modern websites.
                Wether its for mobile, tablet, laptops and larger displays a responsive design is flexible to the ratio of the screen. When screens are minimized
                we want to make sure the layout responds and adjusts.
             </p>
          </div>
          <div class="col-md-12 what-matters-one responsive order-2 order-md-2 mx-auto" id="projectImg">
          </div>
       </div>
    </section>

  <main class="pt-5">
     <section class="container pt-3" id="projectContainer">
        <div class="row align-items-center">
           <div class="col project-content responsive order-2">
              <h2><span id="number">02.</span>Branding</h2>
              <p class="pt-2">
                 Your brand is your identity, it tells a story of who you are and what you stand for. Having a brand provides a sense of familirarity to your users. It gives your website it's own personality bringing your
                 ideas and products to life. There are many things to consider when creating your brand. Your logo which stands as your identity. A clean and simple logo is important to establish, it brings with it a sense of recognition and awareness. 
                 Remember your brand should echo your personality this is key to bringing it to life. Along with personality is your color palette. Choose colors that represent you and your brand but keep in mind too many colors can create distraction. 
                 Two or three primary colors should be more than enough. Lastly you want your brand to create trust. It is essential to keep your website functional and current with up to date content. Thus increasing your brands authority and providing confidence to your users.
              </p>
           </div>
           <div class="col-md-6 what-matters-two responsive order-1 mx-auto" id="projectImg">
           </div>
        </div>
     </section>
  </main>
 
     <section class="container" id="projectContainer">
        <div class="row align-items-center">
           <div class="col project-content responsive order-1">
              <h2><span id="number">03.</span>Navigation</h2>
              <p class="pt-2">
                 Implementing and organizing the navigation structure of your website is crutial when planning the layout of your site. Think of yourself as the user, have you ever clicked on a website and found yourself lost and overwhelmed? Well
                 at times you can simply get frustrated and leave, especially if there is a lot of content to sift through. This is one thing you cannot fall short on when planning a website. Like yourself you want your users to have a seemless experience when 
                 navigating through your site. Thus establishing a clean navigation menu is key for optimal user experience. On another note secondary navigation functions are just as important. Making sure to successfully implement navigation within each page and 
                 section of your content is paramount allowing your users to easily maneuver throughout the website. To accomplish this lets consider these rules:
              </p>
              <ul>
                 <li>Prioritize consistency</li>
                 <li>Design clear interactions</li>
                 <li>Avoid deep navigation</li>
                 <li>Design for responsive compatibility</li>
              </ul>
           </div>
           <div class="col-md-6 responsive what-matters-three order-2 mx-auto" id="projectImg">
           </div>
        </div>
     </section>

  <main class="pt-3">
     <section class="container" id="projectContainer">
        <div class="row align-items-center">
           <div class="col project-content responsive order-2">
              <h2><span id="number">04.</span>Search Engine Optimization</h2>
              <p class="pt-2">
                 The job of a search engine is quite simple which is to provide users with the most relevent information. It does this by analyzing information using search algorithms. The goal of Search Engine Optimization(SEO) is to expand the visibility of your website bringing more visitors
                 through search results. Essentially it allows your website to scale up through the rankings. Having an SEO strategy in place
                 creates awareness allowing users to easily find you when searching key words within certain categories. SEO works by optimizing a websites content, conducting keyword research which in turn 
                 provides inbound links bringing acknowledgement and increasing each individual contents ranking. The more visibility recieved the higher the ranking through each link that is clicked.
              </p>
           </div>
           <div class="col-md-6 responsive what-matters-four order-1 mx-auto" id="projectImg">
           </div>
        </div>
     </section>
  </main>
  <main class="box-container py-3">
   <section class="container" id="projectContainer">
      <div class="row align-items-center">
         <div class="col project-content responsive order-1">
            <h2><span id="number">05.</span>Security</h2>
            <p class="pt-2"">
              Security should be a top priority when it comes to building a website. Website security provides protection not only to your data but also your users data against any type of malicious attack. Cyber attacks
              can not just effect your privacy and data but also the functionality of your website. Additionally it can also have lasting negative effects to your brands identity. For users this can significantly destroy
              confidence in your website. At Layerlabs it is of upmost importance to implement full scale security features to make sure your website is free from any potential risks or harm to you, your data or users.
              Here is a list of some of these potential risks:
              <ul>
               <li>Cross Site Scripting(XSS)</li>
               <li>SQL Injecting</li>
               <li>Cross-Site Request Forgery(CSRF)</li>
               <li>Denial of Service(DOS)</li>
               <li>File Inclusion</li>
              </ul>
         </div>
         <div class="col-md-6 what-matters-five order-2 mx-auto" id="projectImg">
         </div>
      </div>
   </section>

</main>
</section>
</main>
<section class="dark-section-round py-5">
   <div class="container-fluid py-4">
   <h2 style="color: white;" class="text-center py-3">Let's create something together.</h2>
   </div>
   <div class="container d-flex justify-content-center pb-4">
   <a href="/contact" class="btn" id="gradientBtnReverse">GET IN TOUCH <i class="fa-solid fa-chevron-right"></i></a>
   </div>
</section>
<section class="container-fluid">
  <div class="container-fluid">
  <h2 class="py-5 px-5 text-center" style="font-size: 45px;">Check out our<span id="gradientTextTwo"> Instagram..</span></h2>
  <div class="row container-fluid d-flex justify-content-center">
     <a href="https://www.instagram.com/layerlabs.io" class="box container-box-three d-flex align-items-center" id="instagramOne">
     </a>
     <a href="https://www.instagram.com/layerlabs.io" class="box container-box-three d-flex align-items-center" id="instagramTwo">
     </a>
     <a href="https://www.instagram.com/layerlabs.io" class="box container-box-three d-flex align-items-center" id="instagramThree">
     </a>
     <div class="container d-flex justify-content-center my-4">
        <a href="javascript:history.back()" class="btn  mx-2" id="gradientButton"><i class="fa-solid fa-chevron-left"></i> GO BACK</a>
     </div>
  </div>

</section>

<div class="d-flex justify-content-end pb-3 px-3">
   <a class="btn scroll-top px-3 py-3" href="#navBrand"><i class="fa-solid fa-arrow-up"></i></a>
   </div>

<div>
  <%- include('../partials/cookieConsent') %> 
</div>
<%- include('../partials/scripts') %> 
<%- include('../partials/footer') %> 
</main> 
</body>
</html>
    