<!--including head/navbar partials-->
<%- include('../partials/head') %> 
<%- include('../partials/navbar') %> 

<!--projects page header-->
<section class="container-fluid vacay-header header-text px-0">
    <h1 class="text-center project-text mb-5" style="color: rgba(255, 91, 91, 0.802); font-size: 9vw;">vacay<span style="color: white;font-size:10vw;">.</span></h1>
</section>

<!--projects about section-->
<main class="container mt-5">
    <section class="container py-5">
      <h2>Website Launch Date</h2>
      <h2 style="color:darkgrey;">October 2022</h2>
    </section>
    <section class="about-section">
        <div class="container">
            <div class="row"> 
                <div class="image-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="">
                        <figure class=""><a href="#"><img src="/images/vacay.png" class="img-fluid" alt="Vacay preview image" id="projectImg"></a></figure>
                        <figure class="image-2 mt-5"><a href="#"><img src="/images/vacay4.png" class="img-fluid" alt="Vacay preview mobile image" id="projectImg2"></a></figure>
                    </div>
                </div>
                        
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-1">
                    <div class="">
                        <div class="sec-title">
                            <h2 class="" style="color: black;">About the project</h2>
                        </div>
                        <p class="px-3">
                            With this application I included many interactive features incorporating my knowledge of React. These features include bootstrap cards to render and display the content which will be stored on a json server. A register and sign in modal is included in the applications navbar so that users can easily access and manage their account. A review button will allow the user to leave a review, this will appear as a form inside a modal using form validation. I also implemented a location’s feature that will populate and filter each destination based on its location. The goal of this application is to provide a seamless and fluid experience for the user.
                        </p>
                        <div class="contianer my-5">
                            <a href="https://vacay.layerlabs.io" class="btn" id="gradientButton">VISIT SITE <i class="fa-solid fa-chevron-right"></i></button>
                                <a class="fa-brands fa-github fa-2xl px-3 py-4 mt-auto pl-4" style="color: black;" id="projectIcon" href="https://github.com/TropicalXU/vacay.git"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--back button container-->
    <div class="container">
    <a href="javascript:history.back()" class="btn my-5" id="gradientButton"><span><i class="fa-solid fa-chevron-left"></i></span> GO BACK</a>
    </div>
    <!--including cookie partial-->
    <%- include('../partials/cookieConsent') %> 
</main>

<!--including scripts/footer partials-->
<%- include('../partials/scripts') %> 
<%- include('../partials/footer') %> 
    
</body>
</html>