<!--including head/navbar partials-->
<%- include('../partials/head') %> 
<%- include('../partials/navbar') %> 

<!--projects page header-->
<section class="container-fluid viewpoint-ireland-header header-text px-0">
    <h1 class="text-center project-text mb-5 py-5" style="color: rgb(255, 255, 255); font-size: 9vw;">Viewpoint Ireland</h1>
    <p class="text-center mx-5" style="color: rgb(255, 255, 255);"> 
    </p>
</section>

<!--projects about section-->
<main class="container mt-5">
    <section class="container py-5">
        <h2>Website Launch Date</h2>
        <h2 style="color:darkgrey">July 2022</h2>
    </section>

    <section class="about-section">
        <div class="container">
            <div class="row"> 
                <div class="image-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="">
                        <figure class=""><a href="#"><img src="/images/ViewpointIrl.png" class="img-fluid" alt="" id="projectImg"></a></figure>
                        <figure class="image-2 mt-5"><a href="#"><img src="/images/viewIrl.png" class="img-fluid" alt="" id="projectImg2"></a></figure>
                    </div>
                </div>
                            
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-1">
                    <div class="">
                        <div class="sec-title">
                            <h2 class="" style="color: black;">About the project</h2>
                        </div>
                        <p class="px-3">
                                Viewpoint Ireland is a web application showcasing Ireland's most popular locations. Within the site you can register and sign up for an account, post locations and write reviews. The website has a built in map on the on the main page as well as a mini map displayed on the locations view page so you can pinpoint the exact location of a site. This was possible using Mapbox. The application also has built in security features so as to secure your personal information as well as passwords. Feel free to try it out! 
                        </p>
                        <div class="contianer my-5">
                            <a href="https://viewpointireland.layerlabs.io" class="btn" id="gradientButton">VISIT SITE <i class="fa-solid fa-chevron-right"></i></button>
                            <a class="fa-brands fa-github fa-2xl px-3 py-4 mt-auto pl-4" style="color: black;" id="projectIcon" href="https://github.com/TropicalXU/viewpointireland"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--back button container-->
    <div class="container">
        <a href="javascript:history.back()" class="btn my-5" id="gradientButton"><i class="fa-solid fa-chevron-left"></i> GO BACK</a>
    </div>
        <!--including scripts/footer partials-->
        <%- include('../partials/cookieConsent') %> 
</main>
<%- include('../partials/scripts') %> 
<%- include('../partials/footer') %> 
    
</body>
</html>